.bgHeader{
    background-color: rgba(15, 95, 182, 0.932);
}
.textColorHeader{
    color: white;
}
.footerbg{
    background-color: gray;
}
.bgCR{
    background-color: gray;
}
.bodyBg{
    background-color: rgba(255, 255, 255, 0.72);
}