.bgHeader{
    background-color: rgba(146, 123, 10, 0.932);
}
.textColorHeader{
    color: white;
}
.footerbg{
    background-color: gray;
}
.bgCR{
    background-color: gray;
}
.bodyBg{
    background-color: rgba(27, 137, 27, 0.689);
}